@import "tailwindcss";
@plugin "daisyui";

html {
  background-color: #F5F9FF;
}

body {
  overflow-x: hidden;
}

@theme {
  --color-bleu-1: #FBFDFF;
  --color-bleu-2: #F5F9FF;
  --color-bleu-3: #EAF3FF;
  --color-bleu-4: #DBECFF;
  --color-bleu-5: #CAE2FF;
  --color-bleu-6: #B6D5FF;
  --color-bleu-7: #9CC3F8;
  --color-bleu-8: #77ABF3;
  --color-bleu-9: #338DFF;
  --color-bleu-10: #2C81EC;
  --color-bleu-11: #1070DC;
  --color-bleu-12: #0D3363;
  --color-gris-1: #FCFCFD;
  --color-gris-2: #F9F9FB;
  --color-gris-3: #EFF0F3;
  --color-gris-4: #E7E8EC;
  --color-gris-5: #E0E1E6;
  --color-gris-6: #D8D9E0;
  --color-gris-7: #CDCED7;
  --color-gris-8: #B9BBC6;
  --color-gris-9: #8B8D98;
  --color-gris-10: #80828D;
  --color-gris-11: #62636C;
  --color-gris-12: #1E1F24;
  --color-vert: #00E074;
  --color-rouge: #FF1474;
  --color-jaune: #FFDC10;
  --breakpoint-xs: 30rem;
  --breakpoint-xxs: 20rem;
  --breakpoint-1080: 1080px;
  --breakpoint-720: 720px;
  --breakpoint-896: 896px;
  --breakpoint-360: 360px;
  --aspect-tiktok: 9 / 16;
  --aspect-retro: 4 / 3;
  --aspect-5-1: 5 / 1;
  --blur-100: 100px;
  --animate-blob: blob 8s ease-in-out infinite;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, 20px) scale(1);
    }
    66% {
      transform: translate(-20px, 10px) scale(0.9);
    }
    100% {
      transform: tranlate(0px, 0px) scale(1);
    }
  }
}

